@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
}
input[name=tab]{
    display: none;
}
.tabs{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.items{
    width: 300vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.items div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.items div:nth-child(1){
    background-color: teal;
}
.items div:nth-child(2){
    background-color: dodgerblue;
}
.items div:nth-child(3){
    background-color: yellowgreen;
}
.btn{
    position: absolute;
    bottom: 20px;
    width: 100vw;
    text-align: center;
}
.btn label{
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: #fff;
    cursor: pointer;
}
input[id=tab1]:checked ~ .tabs .items{
    left: 0;
}
input[id=tab2]:checked ~ .tabs .items{
    left: -100vw;
}
input[id=tab3]:checked ~ .tabs .items{
    left: -200vw;
}
input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3]{
    background-color: #000;
}