@charset 'utf-8';

/*** common --------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family:'맑은 고딕', sans-serif;
    color: #333333;
}
body{
    height: 100vh;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
/*** popup --------------------------*/
.popBox{
    display: none;
    position: fixed;    
    left: 0;
    right: 0;
    margin: 200px auto;
    width: 500px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #888;
    z-index: 20;
}

/*** wrapper --------------------------*/
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/*** header --------------------------*/
header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo{
    width: 15%;
    height: 40px;
    text-align: center;
}
header nav{
    width: 60%;
    height: 40px;
}
header nav > ul{
    display: flex;
    text-align: center;
}
header nav > ul > li{
    width: 25%;
    position: relative;
    line-height: 40px;
}
header nav .mainMenu:hover > a{
    background-color:brown;
    color: #fff;
}
header nav > ul > li > .subMenu{
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}
header nav .subMenu a:hover{
    background-color: burlywood;
}
/*** slide --------------------------*/
.slide{
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slide-list{
    position: absolute;
    top: 0;
    left: 0;
}
.slide-list img{
    display: block;
}
/*** contents --------------------------*/
.contents{
    height: 200px;
    display: flex;
}
.contents > div{
    width: 33.333333%;
    height: 100%;
}
.contents .tab{
    background-color: cadetblue;
}
.tab > .tabMenu{
    height: 42px;
}
.tab > .tabMenu li{
    display: inline-block;
}
.tab > .tabMenu li.on a{
    background-color: aquamarine;
}
.tab > .tabMenu a{
    padding: 10px;
    font-weight: bolder;
}
.tab > .tabItem > ul{
    box-sizing: border-box;
    height: 160px;
    padding: 10px;
}
.tab .tabItem > .gallery{
    display: none;
}
.tab .tabItem > ul.on{
    background-color: aquamarine;
}



/*** footer --------------------------*/
footer{
    height: 100px;
    display: flex;
    align-items: center;    
    text-align: center;
}
footer div{
    width: 20%;
    height: 40px;
}
footer p{
    width: 60%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bolder;
}
