@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    font-family: 'Black Han Sans', sans-serif;
}

h1{
    font-size: 3rem;
    background-image: linear-gradient(135deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
