@charset 'utf-8';

*{ margin: 0; padding: 0;}

.container > h1{
    text-align: center;
}
.menus{
    width: 100%;
}
.menus div{
    width: 90%;
    margin: 10px auto;
    height: 400px;
    border: 1px solid #000;
    position: relative;
}
.menus div p{
    font-size: 2em;
    font-weight: bolder;
    color: #fff;
    text-shadow: 3px 3px 4px #000;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.menus div:nth-child(1){
    background-image: url(../images/image-01.png);
    background-size: cover;
}
.menus div:nth-child(2){
    background-image: url(../images/image-02.png);
    background-size: cover;
}
.menus div:nth-child(3){
    background-image: url(../images/image-03.png);
    background-size: cover;
}
.menus div:nth-child(4){
    background-image: url(../images/image-04.png);
    background-size: cover;
}
.menus div:nth-child(5){
    background-image: url(../images/image-05.png);
    background-size: cover;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* M - 768px 이상 */
@media screen and (min-width:768px){
    .menus{
        display: flex;
        flex-wrap: wrap;
    }
    .menus div{
        width: 45%;
    }
    .menus div:nth-child(5){
        width: 95%;
    }
}

/* L - 1024px 이상 */
@media screen and (min-width:1024px){
    .menus{
        display: flex;
        flex-wrap: wrap;
    }
    .menus div{
        width: 33%;
    }
    .menus div:nth-child(5){
        /* width: 66%; */
        flex: 2 2 0;
    }
}