@charset 'utf-8';

*{  margin: 0;  padding: 0; }

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
ul > li{
    display: inline-block;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 10px 20px;
}
.logo > p{
    font-size: 3em;
}
.logo > p > span{
    color: orange;
} 
nav{
    margin: 10px 20px;
}
nav > ul > li{
    margin: 0 10px;
}
nav > ul > li > a{
    display: block;
    padding: 0 10px;
}
nav > ul > li > a:hover{
    /* color: orange; */
    color: #fff;
    background-color: orange;
}
input[id=menu_btn]{
    display: none;
}
label[for=menu_btn]{
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    display: none;
}
label[for=menu_btn] p{
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
}
label[for=menu_btn] p:nth-child(1){
    top: 0;
}
label[for=menu_btn] p:nth-child(2){
    top: 50%;
}
label[for=menu_btn] p:nth-child(3){
    top: 100%;
}
.gnb{
    display: block;
}
input[id=menu_btn]:checked ~ .gnb{
    display: block;
}

/* L-1024px 보다 큰 사이즈 */
@media screen and (min-width:1024px) {
    header{
        width: 1024px;
        margin: 0 auto;
    }
}
@media screen and (max-width:768px) {
    label[for=menu_btn]{
        display: block;
    }
    .gnb{
        display: none;
        position: absolute;
        left: 0;
        top: 100px;
        /* background-color: aqua; */
        width: 100%;
    }
    ul > li{
        display: block;
    }    
    nav > ul > li > a{
        width: 100%;
        /* width: 200px; */
        height: 100%;
        padding: 10px 0px;
    }
}