@charset 'utf-8';
body{
    height: 100vh;
    display: flex;
    justify-content: center;   /*주축*/
    align-items: center;       /*교차축*/
}
.slide{
    width: 300px;
    height: 300px;
    position: relative;
}
.slide img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
}
.btn{
    padding: 10px;
    text-align: center;
}
.btn label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}
input[id=tab1]:checked ~ .slide img:nth-child(1),
input[id=tab2]:checked ~ .slide img:nth-child(2),
input[id=tab3]:checked ~ .slide img:nth-child(3){
    /* display: block; */
    opacity: 1;
}
input[name=tab]{
    display: none;
}
input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3]{
    background-color: tomato;
}