@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F7F8F9;
}

/***** header style *****/
header{
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
}

/***** main style *****/
main{
    height: calc(100vh - 60px);
}
.login{
    /*background-color: #F7F8F9;*/
    width: 350px;
    margin: 70px auto;
}
.login-btn{
    width: 100%;
}
.login-btn h1{
    font-size: 40px;
    text-align: center;
}
.login-btn p{
    text-align: center;
    height: 20px;
    line-height: 20px;
    position: relative;
}
.login-btn p::before,
.login-btn p::after{
    content: '';
    height: 1px;
    width: 43%;
    background-color: #888888;
    position: absolute;
    top: 49%;
    opacity: 0.7;
}
.login-btn p::before{
    left: 0;
}
.login-btn p::after{
    right: 0;
}
.login-btn a{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 20px 0;
    padding: 5px 0;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    opacity: 0.7;
}
.login-btn a:hover{
    opacity: 1;
}
.login-btn a:nth-of-type(1){
    color: #000;
    border: 1px solid #888888;
    /*
    background-color: #fff;    
    background-image: url('../images/logo_phone.png');
    background-repeat: no-repeat;
    background-position: 13px center;
    */    
    background: #fff url('../images/logo_phone.png') no-repeat 13px center;
}
.login-btn a:nth-of-type(2){
    background-color: #8A8C9B;
    background-image: url('../images/logo_email.png');
    background-repeat: no-repeat;
    background-position: 13px center;
}
.login-btn a:nth-of-type(3){
    background-color: #03C75A;
    background-image: url('../images/logo_naver.png');
    background-repeat: no-repeat;
    background-position: 13px center;
}
.login-btn a:nth-of-type(4){
    background-color: #0075FF;
    background-image: url('../images/logo_facebook.png');
    background-repeat: no-repeat;
    background-position: 13px center;
}
.login-btn a:nth-of-type(5){
    background-color: #2B2B31;
    background-image: url('../images/logo_apple.png');
    background-repeat: no-repeat;
    background-position: 13px center;
}
.login-footer p{
    text-align: center;
    margin: 30px;
}
.login-footer p a{
    display: inline-block;
    padding-left: 10px;
    font-weight: bolder;
}
.login-footer p a:hover{
    text-decoration: underline;
}

